.navbar {
  list-style: none;
  display: flex;              /* straight line */
  flex-direction: row;
  justify-content:space-around;
  
  gap: 40px;
  padding: 15px 0;
  margin: 0;
  background-color: skyblue;
}

.navbar li a {
  text-decoration: none;
  color: #000;               /* black text */
  font-size: 18px;
  font-weight: 600;
}

.navbar li a:hover {
  color: white;
}
